services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"

  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://db:27017/
    depends_on:
      - db